<div class="perfil">
  <br>
  <img src="{{photoURL}}">
  <h5>¡Hola {{username}}! Edita tu perfil</h5>
  <form class="editForm" action="/perfil/edit" method="POST">
    <p>
      Nombre:
      <br>
      <input class="uk-input" type="text" placeholder="{{username}}" name="username">
    </p>
    <p>
      Bio:
      <input class="uk-input" type="text" placeholder="{{bio}}" name="bio">
    </p>
    <p>
      Email:
      <input class="uk-input" type="text" placeholder="{{email}}" name="email">
    </p>
    <button type="submit" class="uk-button uk-button-default">Guardar</button>
  </form>