<div class="perfil">
  <img src="{{user.photoURL}}">
  <div class="nombre">
    <h5>{{user.username}}</h5>
  </div>
  <a class="editarPerfil" href="/perfil/edit">Editar Perfil</a>
  <p>{{user.bio}}</p>
  <article>
    <span><b>{{user.canalesNumber}}</b> canales que sigues</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span> tus memes: <b>{{user.likes}}</b> </span> <br> <br>
    <span><b>{{user.upvotes}}</b> likes a tus memes </span>
  </article>
  <br>
  <p>Tus memes:</p>
  <div id="liked">
    {{#each posts}}
    <div class="likedDiv">
      <img src="{{this}}" alt="somememe">
    <div id="share-buttons">
    <!-- Email -->
    <a href="mailto:?Subject=Un%20meme%20para%20ti!&body=Checa%20este%20memazo%20"{{this}}"!">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{this}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{this}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{this}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
    </div>
    <form action="/perfil" method="POST">
    <button class="uk-button uk-button-primary uk-button-small">Borrar</button>
    <input type="submit" value="Borrar 💔" style="background-color: brown">
    </form>
    </div>
    {{/each}}
  </div>
</div>