<div class="perfil">
  <img src="{{photoURL}}">
  <div class="nombre">
    <h5>{{username}}</h5>
  </div>
  <a class="editarPerfil" href="/perfil/edit">Editar Perfil</a>
  <p>{{bio}}</p>
  <article>
    <span><b>{{canalesNumber}}</b> canales que sigues</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span> tus memes: <b>{{likes}}</b> </span> <br> <br>
    <span><b>{{upvotes}}</b> likes a tus memes </span>
  </article>
  <br>
  <p>Memes que te han gustado:</p>
  <div id="liked">
    {{#each likedPost}}
      <div class="likedDiv"><img src="{{this}}" alt="somememe"></div>
    {{/each}}
  </div>
</div>