<div class="article-feed">
  <!-- .articles will be added to .article-feed -->
  {{#each posts}}
  <article class="post">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">{{this.title}}</h3>
              </div>
              <div class="uk-card-media-top">
                  <img src="{{this.url}}">
                  <div id="share-buttons">
    <!-- Email -->
    <a href="mailto:?Subject=Un meme para ti ;)">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://memecanales.herokuapp.com/" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>
              </div>
                <div class="tagsHome">
                    {{#each this.tags}}
                        <a style="text-decoration: none;" href="/canales/{{this}}"><span class="tagsHomeSpan">#{{this}}</span></a>
                    {{/each}}
                </div>
                <form class="likesTag" action="/posting/like" method="POST">
                    <input style="display:none;" type="text" name="url" value="{{this.url}}">
                    <button class="submitButton" type="submit"><i class="likeIcon far fa-thumbs-up"></i>{{this.upvotes}}</button>
                </form>
          </div>
      </div>
    </div>
  </article>
  {{/each}}

</div>
<head>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-1713735179551973",
                enable_page_level_ads: true
            });
        </script>
</head>

<script>
    let forms = document.querySelectorAll('.likesTag')  
    console.log(forms)
    for(var i = 0; i < forms.length; i++){
        forms[i].addEventListener('submit', function(e){
            e.preventDefault()
            let url = {value: e.srcElement[0].value}
            console.log(url)
            fetch('/post/like', {method: 'POST', body: JSON.stringify(url), 
            headers:{
                'Content-Type': 'application/json'
            }})
            .then(function(response) {
            if(response.ok) {
                let likesNumber = e.srcElement[1].innerHTML
                let number = likesNumber[likesNumber.length - 1]
                let dec = likesNumber[likesNumber.length - 2]
                console.log(typeof(dec))
                    if(dec === '>') {
                        number ++
                        e.srcElement[1].innerHTML = `<i class="likeIcon far fa-thumbs-up"></i>${number}`
                    } else{
                        if(number === 9) number = 
                        number ++
                        e.srcElement[1].innerHTML = `<i class="likeIcon far fa-thumbs-up"></i>${dec}${number}`
                    }
                
                return;
            }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
            console.log(error);
            });
        })
    }
        
    
</script>
